/* Style the tab */
.tab {
    overflow: hidden;
    border: none;
    background-color: #ccc;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    padding-bottom: 20px;
    padding-top: 20px;
    transition: 0.3s;
    font-family: serif;
    font-size: 21px;
    font-weight: bold;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ffffff;
}

/* Style the tab content */
.tabcontent {
    background-color: #ffffff;
    display: none;
    padding: 6px 12px;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 5px 10px #888888;
}

/* Fade in tabs */

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#top-left {
    padding-bottom: 100px;
}

#top-right {
    padding-bottom: 100px;
}

td {
    padding-bottom: 10px;
    padding-bottom: 30px;
    padding-right: 120px;
    animation: fadeEffect 1s;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: absolute;
    /* Stay in place */
    z-index: 3;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 600px;
    /* Full width */
    height: 400px;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
